<%- include('./partials/top') %>
<section id="customerDetails">
  <div class="container">
    <a href="#" class="btn btn-primary mt-5 mb-3">Edit Details</a>
    <table class="table mb-5">
      <thead>
          <tr>
              <th>Unique Code</th>
              <th>Full Name</th>
              <th>Gender</th>
              <th>Email</th>
              <th>Address</th>
              <th>Phone Number</th>
          </tr>
      </thead>
      <tbody>
          <tr class="table-success">
              <td>John</td>
              <td>Doe</td>
              <td>Doe</td>
              <td>jdoe@gmail.com</td>
              <td>Doe</td>
              <td>jdoe@gmail.com</td>
          </tr>
      </tbody>
    </table>
    <table class="table text-center table2 table-bordered">
      <h2 class="text-center mb-4">Order Details</h2>
      <thead>
        <tr class="bg-dark text-light">
          <th>#</th>
          <th>Order ID</th>
          <th>Action</th>
        </tr>
      </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>
            <a href="#" class="btn btn-primary">Details</a>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
</section>
<%- include('./partials/bottom.ejs') %>