<%- include('./partials/top.ejs') %>
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome To Aurora E-Commerce!</h1>
  <hr>
  <p class="lead">We sell high quality MMA gears, casual wears and accessories!</p>
  <a class="btn btn-primary btn-lg" href="/products" role="button">Buy Our Products!</a>
</div>
<%- include('./partials/bottom.ejs') %>