* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
  background-color: aliceblue;
  font-family: 'Roboto', sans-serif !important;
  min-height: 100vh;
}

.container {
  max-width: 1240px;
}

/* NavBar */
.nav-item {
  padding: 0 10px;
}

/* HomePage */
.jumbotron {
  margin-top: 50px;
}

/* Products */
#products h1 {
  margin: 30px 0;
}

/* Register */

#register .container,
#login .container {
  max-width: 1040px;
}

#register h2,
#login h2 {
  margin: 30px 0;
  text-align: center;
}

/* Customer Details */

#customerDetails .table2 td {
  width: 33%;
  justify-content: center;
}

/* Footer */

footer nav {
  color: #fff;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-end !important;
  text-align: center !important;
  margin-top: 30px;
}

footer nav p {
  margin-top: 10px;
}